@charset "utf-8";
/* CSS Document */

body
{
	/*background-color:#F0F0F0;*/
	/*background-image:url('backTile2.png');
	background-repeat:repeat;*/
	font-family: verdana,sans-serif;
	font-size:11px;
	margin: 0px;
}
a:link
{
	text-decoration:none;
	color:#00CCA3;
}
a:visited
{
	text-decoration:none;
	color:#00CCA3;
}
img
{
    max-width: none;
    border:0px;
}
