@charset "utf-8";
/* CSS Document */

body
{
	/*background-color:#F0F0F0;*/
	/*background-image:url('backTile2.png');
	background-repeat:repeat;*/
	/*font-family: verdana,sans-serif;*/
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:11px;
	margin: 0px;
}
a:link
{
	text-decoration:none;
	color:#00CCA3;
}
a:visited
{
	text-decoration:none;
	color:#00CCA3;
}
img
{
    max-width: none;
    border:0px;
}

#footer
{
	/*background-color: #232323;*/
	position:fixed;
	left:0px;
	bottom:0px;
	background-color: white;
	/*color:#ED6355;*/
	width:100%;
	height: 50px;
	margin-top:20px;
	line-height: 50px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 1px #ccc;
	-moz-box-shadow: 0px 0px 1px #ccc;
	box-shadow: 0px 0px 1px #ccc;
	font-size:12px;

}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/*#eq*/
/*{*/
	/*height:175px;*/
	/*background-color:#CCCCCC;*/
	/*text-align:center;*/
	/*border-bottom: 1px solid #ccc;*/
	/*border-top: 1px solid #ccc;*/
	/*border-right:1px solid #ccc;*/
	/*border-left:1px solid #ccc;
	margin-top:50px;
	font-size:40px;
	line-height:175px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;*/
/*}*/

#eq
{
	height:175px;
	/*background-color:#ebebeb;*/
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	text-align:center;
	line-height:175px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	margin-top:50px;
}
#abox
{
	height:25px;
	text-align:center;
	line-height:12px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-top:5px;
	margin-bottom:0px;
}
.settings
{
	text-align:right;
	padding-right:10px;
}
#timestats
{
	text-align:center;
	font-size:12px;
	color:#999;
}
#chartholder
{
	height:250px;
	/*color:white;*/
	background-color:#f7f7f7;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	margin-top:50px;
	line-height:250px;
	font-size:12px;
	text-align:center;
}
#morestats
{
	height:100px;
	padding:3px;
	margin-top:50px;
	margin-bottom:10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	font-size:12px;
	text-align:center;
}
.operator
{
	color:#999;
	font-weight:normal;
}
.solved
{
	font-size:60px;
}
.high
{
	font-weight:bold;
	font-size:36px;
	margin-top:-15px;
}
